* { padding : 0; margin : 0; list-style : none; font-family : Arial }

.youtubeOynat { display : none; background : #ddd; padding : 0px }

.youtube {
    border   : 1px solid #ddd;
    padding  : 10px;
    overflow : hidden
}

.youtube img {
    float        : left;
    margin-right : 15px
}

.youtube a {
    text-decoration : none;
    color           : darkred
}

.youtube p {
    padding-top : 0px
}

.arama {
    padding : 0px
}

.arama h2 {
    font-weight    : normal;
}

.hata {
    margin           : 10px;
    background-color : darkred;
    color            : #fff;
    font-size        : 12px;
    padding          : 5px
}

.actual {
    background-color : #238002;
}

.finished {
    background-color : #c884ff;
}

.queued {
    background-color : #ffd829;
}

.divForElment {
    margin        : 20px;
    border-radius : 5px;
}

.imageY {
    padding : 5px;
}

.textTitle {
    display      : inline;
    position     : relative;
    bottom       : 40px;
    padding-left : 0px;
}

#sonuc {
    padding-left: 0px;
    padding-right: 0px;
}

#spinner {
    z-index: 100;
}

#img-spinner {
    margin-top: 100px;
}


#little-container {
    margin-top: 40px;
    position: relative;
}

#spinner,
#sonuc {
    width: 100%;
    height: 100%;
    position: absolute;
}
