h1, h2, h3, h4, h5, h6 {
    font-family : 'Titillium Web';
    font-weight : 200;
    color       : #eee8aa;
}

p, div {
    font-family : 'Titillium Web';
    font-weight : 200;
    color       : #eee8aa;
}

body {
    background-image  : url("../bground.jpg");
    background-repeat : repeat;
}

* {
    padding      : 0;
    margin       : 0;
    list-style   : none;
    font-family  : 'Titillium Web';
    font-weight  : 200;
    color        : #ddd;
    border-color : #eee8aa;
}

.youtubeOynat { display : none; background : #ddd; padding : 0px }

#youtube {
    background : transparent;
}

.youtube {
    border   : 1px solid transparent;
    padding  : 10px;
    overflow : hidden
}

.youtube img {
    float        : left;
    margin-right : 15px
}

.youtube a {
    text-decoration : none;
    color           : #eee8aa;
}

.youtube p {
    padding-top : 10px
}

.arama {
    padding : 0px
}

.arama h2 {
    font-weight : normal;
}

.hata {
    margin           : 10px;
    background-color : darkred;
    color            : #fff;
    font-size        : 12px;
    padding          : 5px
}

#sonuc {
    padding-left  : 0px;
    padding-right : 0px;
}

#spinner {
    z-index : 100;
}

#img-spinner {
    margin-top : 100px;
}

#little-container {
    margin-top : 40px;
    position   : relative;
}

#spinner,
#sonuc {
    width    : 100%;
    height   : 100%;
    position : absolute;
}

.btn-like {
    display          : inline-block;
    padding          : 6px 12px;
    margin-bottom    : 0;
    font-size        : 14px;
    font-weight      : normal;
    line-height      : 1.42857143;
    text-align       : center;
    white-space      : nowrap;
    vertical-align   : middle;
    cursor           : pointer;
    user-select      : none;
    background-image : none;
    border           : 1px solid transparent;
    border-radius    : 4px;
    color            : green;
    margin           : 5px;
}

.left-col {
    padding-right : 100px;
}
