{% extends "queue/base.html" %}
{% load bootstrap3 %}
{% block body %}
    <form class="form-horizontal" role="form">
        <input type="button" value="To Title Page" onClick="location.href='/create_party/'">
    </form>
    <form class="form-horizontal" role="form" id="form2">
        <input type="text" placeholder="Or place here the token of existing one" id="join">
    </form>
    </form>
    <script>
        $("#join").keyup(function(event) {
            console.log(event);
            if (event.keyCode == 13) {
                $("#form2").attr("action", "/party/" + $("#join").val()).submit();
            }
        })
    </script>
{% endblock %}

