{% load bootstrap3 %}

<!-- 16:9 aspect ratio -->
<div id="player" class="embed-responsive embed-responsive-16by9"></div>

<script>
      var currentVideo = '{{ video_token }}';
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: currentVideo,
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      function onPlayerReady(event) {
        event.target.playVideo();
      }

      function onPlayerStateChange(event) {
        if (event.data == 0) {
            event.target.loadVideoById("bHQqvYy5KYo", 0, "default");
        }
      }

</script>

<p>Hello world. Really.</p>
