{% extends "queue/base.html" %}
{% block head %}
    {% load staticfiles %}
{% endblock %}
{% block body %}
    Cześć : {{ party_token }}
    {% block host_info %}
    {% endblock %}

    <div id="youtube_list" class="col-md-6">
        <ul>

        </ul>
    </div>
    <div id="youtube_list_2" class="col-md-6" style="display: inline">
        <ul>
            <li>Dupa</li>
        </ul>
    </div>
    <style>
        .actual {
            background-color : #238002;
        }

        .finished {
            background-color : #c884ff;
        }

        .queued {
            background-color : #ffd829;
        }

        .divForElment {
            margin        : 20px;
            border-radius : 5px;
        }

        .imageY {
            padding : 5px;
        }

        .textTitle {
            display      : inline;
            position     : relative;
            bottom       : 40px;
            padding-left : 50px;
        }
    </style>
    <script>

        party_token = "{{ party_token }}";
        var old_data = {};
        function reloadList(id) {
            $.ajax({
                url: '/api/get_queue/' + party_token + "/",
                success: function(data) {
                    if (JSON.stringify(data) != JSON.stringify(old_data)) {
                        $('#' + id).empty();
                        data.forEach(function(model) {
                            var video_id = model.token;
                            $.getJSON('http://gdata.youtube.com/feeds/api/videos/' + video_id + '?v=2&alt=jsonc', function(data, status, xhr) {
                                json_data = data.data;
                                title = $("<p>").text(json_data.title).addClass("textTitle");
                                image = $("<img>").attr('src', json_data.thumbnail.sqDefault).addClass("imageY");
                                div = $("<div>").addClass("divForElment").append(image).append(title);
                                if (model.status == "Q") {
                                    div.addClass("queued");
                                } else if (model.status == "R") {
                                    div.addClass("actual");
                                } else {
                                    div.addClass("finished");
                                }
                                div.appendTo('#' + id);
                            });
                        });
                        old_data = data;
                    }
                }
            });
        }
        window.setInterval(function() {
            reloadList("youtube_list")
        }, 500);
    </script>
{% endblock %}

