{% extends "queue/base.html" %}
{% block head %}
    {% load staticfiles %}
{% endblock %}
{% block body %}
    {% block host_info %}
    {% endblock %}
    <div id="viewer_container" class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">

                <h1>Token: {{ party_token }}</h1>

                <h1>Aktualnie gramy:</h1>
                <div id="current-video">
                </div>

                <h1>Wyszukiwarka:</h1>

                <form action="" onsubmit="return false">
                    <div class="ui-widget">
                        <input id="youtube" class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                    </div>
                </form>

                <div id="little-container">
                    <div id="spinner" style="display: none;">
                        <img id="img-spinner" src="{% static 'ajax-loader.gif' %}" class="center-block"
                             alt="Loading..."/>
                    </div>

                    <div id="sonuc">
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                <h1>Następne w kolejce:</h1>

                <div id="youtube_list">
                </div>
            </div>

        </div>
    </div>

    <script>
        party_token = "{{ party_token }}";
        user_token = "{{ user_token }}";
        var old_data = [];
        function reloadList(id, $) {
            $.ajax({
                url: '/api/get_queue/' + party_token + "/" + user_token,
                success: function(data) {
                    if (JSON.stringify(data) != JSON.stringify(old_data)) {
                        $('#' + id).empty();
                        data.forEach(function(model) {
                            console.log(model);
                            $.youtubeAppend(model.token, id, model.id, model.likes);
                        });
                        $("#" + id + " > div").each(function() {
                            // TODO: FIXME
                        });
                        old_data = data;
                    }
                }
            });
        }
        var current_video = "";
        function reloadCurrent($) {
            $.ajax({
                url:'/api/get_current/' + party_token + "/",
                success: function(data) {
                    if (data != current_video && data != 'FAILURE') {
                        $('#current-video').empty();
                        $.youtubeAppend(data, 'current-video');
                        current_video = data;
                    }
                    if (data == 'FAILURE') {
                        current_video = "";
                        $('#current-video').html("NIC!");
                    }
                }
            });
        }
        window.setInterval(function() {
            reloadList("youtube_list", jQuery);
            reloadCurrent(jQuery);
        }, 900);
    </script>
    <script type="text/javascript" src="{% static "js/ytHelper.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ytSearch.js" %}"></script>
    </div>
{% endblock %}

