{% extends "queue/base.html" %}
{% block head %}
    {% load staticfiles %}
{% endblock %}
{% block body %}
    {% block hb %}
        <h1>Share <a href="http://0.0.0.0:8080/party/{{ party_token }}">the link</a> to your party</h1>
    {% endblock %}
    <div id="viewer_container" class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">

                <h1>Token: {{ party_token }}</h1>

                <h1>Aktualnie gramy:</h1>

                <div id="current-video">
                </div>

                <h1>Wyszukiwarka:</h1>

                <form action="" onsubmit="return false">
                    <div class="ui-widget">
                        <input id="youtube" class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                    </div>
                </form>

                <div id="little-container">
                    <div id="spinner" style="display: none;">
                        <img id="img-spinner" src="{% static 'ajax-loader.gif' %}" class="center-block"
                             alt="Loading..."/>
                    </div>

                    <div id="sonuc">
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                <h1>Następne w kolejce:</h1>

                <div id="youtube_list">
                </div>
            </div>

        </div>
    </div>

    <script>
        party_token = "{{ party_token }}";
        user_token = "{{ user_token }}";
        var old_data = [];
        function reloadList(id, $) {
            $.ajax({
                url: '/api/get_queue/' + party_token + "/" + user_token,
                success: function(data) {
                    if (JSON.stringify(data) != JSON.stringify(old_data)) {
                        $('#' + id).empty();
                        data.forEach(function(model) {
                            $.youtubeAppend(model.token, id, model.id, model.likes);
                        });
                        $("#" + id + " > div").each(function() {
                            likes = $(this).children("input")[1].value;
                            var cl = function() {
                                video_id = $(this).parent().children("input")[0].value
                                __button = $(this);
                                if ($(this).html() == "Like") {
                                    $.get("/api/vote_video/" + video_id + "/1/" + user_token, function(rez) {
                                        if (rez == "SUCCESS") {
                                            __button.html("Dislike");
                                        } else {
                                            alert("huj");
                                        }
                                    });
                                } else {
                                    $.get("/api/vote_video/" + video_id + "/-1/" + user_token, function(rez) {
                                        if (rez == "SUCCESS") {
                                            __button.html("Like");
                                        } else {
                                            alert("huj");
                                        }
                                    });
                                }
                            }
                            console.log(likes);
                            if (likes == 0) {
                                _link = $("<a>").addClass("myButton").html("Like").click(cl);
                                $(this).append($("<div class='col-md-2'>").append(_link));
                            }
                            else {
                                _link = $("<a>").addClass("myButton").html("Dislike").click(cl);
                                $(this).append($("<div class='col-md-2'>").append(_link));
                            }
                        });
                        old_data = data;
                    }
                }
            });
        }
        var current_video = "";
        function reloadCurrent($) {
            $.ajax({
                url: '/api/get_current/' + party_token + "/",
                success: function(data) {
                    if (data != current_video && data != 'FAILURE') {
                        $('#current-video').empty();
                        $.youtubeAppend(data, 'current-video');
                        current_video = data;
                    }
                    if (data == 'FAILURE') {
                        current_video = "";
                        $('#current-video').html("NIC!");
                    }
                }
            });
        }
        window.setInterval(function() {
            reloadList("youtube_list", jQuery);
            reloadCurrent(jQuery);
        }, 900);
    </script>
    <script type="text/javascript" src="{% static "js/ytHelper.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ytSearch.js" %}"></script>
    <!---<script type="text/javascript" src="{% static "js/pdfHelper.js" %}"></script>-->
    </div>
{% endblock %}

